/* Smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {}

/* Smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {}

/* Portrait tablets, portrait iPad, e-readers (Nook/Kindle),
landscape 800x480 phones (Android) */
@media (min-width: 600px) {}

/* Tablet, landscape iPad, lo-res laptops and desktops */
@media (min-width: 801px) {}

/* Big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {}

/* Hi-res laptops and desktops */
@media (min-width: 1281px) {}

/* TVs with screen height of at least 720px (HD) */
@media screen and (min-height: 720px) {}

/* TVs with screen height of at least 1080px (Full HD) */
@media screen and (min-height: 1080px) {}

/* TVs with screen height of at least 1440px (2K) */
@media screen and (min-height: 1440px) {}

/* TVs with screen height of at least 2160px (4K) */
@media screen and (min-height: 2160px) {}



@media (min-width: 0px) and (max-width: 1199px) {
*{
    padding: 0px;
}
    
.menu-icon {
    display: block;
    font-size: 28px;
    cursor: pointer;
    position: fixed;
    right: 35px;
    top: 15px;
    z-index: 1002;
}

.nav1 {
    position: fixed;
    right: -130%; 
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at bottom, #2b4252 , #060c0c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.7s ease, right 0.7s ease; 
    transform: translateY(-100%);
    transform-origin: top right;
    z-index: 1001;
}

.nav1.show {
    transform: translateY(0); 
    right: 0; 
    margin: 0;
    width: 100%;
    height: 100%;
}

nav ul li:last-child{
    padding-bottom: 50px;
}
.logo{
    margin: 0px !important;
}
section{
    margin: 0px 15px;
}
#projects ul li{
    width: 80%;
    margin: 12px auto;
}
.landingPage{
    width: 92%;
    margin: 75% auto;
    font-size: 11px;
    word-break: break-all;
}
.typing.container{
}
.nav1.show{
    top: 0;
    height: 100%;
    width: 100%;
}
.terminalWindow{
    width: 80%;
    margin: 10px auto;
}
.logo img{
    float: none;
    max-width: 20%;
    margin: 10px;
}
.logo{
    text-align: center;
}
.logoProjects img{
    max-width: 16%;
    margin: 25px 15px;
    float: left;
}
#skills ul li{
    width: 75%;
    margin: 25px auto;

}
#contact-form{
    width: 80% !important;
    margin: 20px;
}
#h-capcha{
    width: 20% !important;
}

}