body{
    background: radial-gradient(circle at bottom, #2b4252 , #060c0c);
    color: #d3d3d3;
    width: 100%;
    margin: auto;
    /*font-family: "Space Grotesk", sans-serif;*/
    font-family: "Exo", sans-serif;
}

/*Buttons*/
.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
i{
    font-size: 20px;
}

.button-link:hover {
    background-color: #0056b3;
}

/*for all <a> tags*/
a{
    color: #F5F7F8;
    text-decoration: none;
}

/*Navigation bar*/
.nav1 {
    list-style: none;
    display: flex;
    font-family: "Wellfleet", monospace;
    font-size: 18px;
    width: 100%;
    margin: 10px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20% !important;
}
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.nav1 li a:hover{
    color: #2dad06;
}
.nav1 li{
    margin: 10px;
    list-style-type: none;
    display: inline-block;
}

/*SECTIONS*/
section{
    margin: auto;
    max-width: 800px;
}
#aboutMe ul, #projects ul, #skills ul{
    margin-bottom: 20px;
}
#aboutMe ul li, #projects ul li, #skills ul li{
    list-style-type: none;
}
#aboutMe ul ul li, #projects ul ul li, #skills ul ul li{
    list-style-type: circle;
    padding: 3px;
}
#projects ul li{
    display: inline-block;
    background-color: #1a2731;
    padding: 15px;
    margin: 15px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
}
#skills ul li{
    background-color: #1a2731;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
}
#skills ul li{
    margin: 20px;
}

/*FOOTER*/

footer{
    width: 100%;
    text-align: center;
}