*{
    -moz-hyphens: auto;
      -o-hyphens: auto;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
}

body{
    background: radial-gradient(circle at bottom, #2b4252 , #060c0c);
    color: #d3d3d3;
    width: 100%;
    margin: auto;
    /*font-family: "Space Grotesk", sans-serif;*/
    font-family: "Exo", sans-serif;
}

i{
    font-size: 20px;
}
h1, h2, h3 ,h4{
    margin: 0px;
    padding: 0px;
}


.button-link:hover {
    background-color: #0056b3;
}

/*for all <a> tags*/
a{
    color: #F5F7F8;
    text-decoration: none;
}

/*Navigation bar*/
.nav1 {
    list-style: none;
    display: flex;
    font-family: "Wellfleet", monospace;
    font-size: 18px;
    width: 80%;
    margin: auto;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20% !important;
}
.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.nav1 li a:hover{
    color: #2dad06;
}
.nav1 li{
    margin: 10px;
    list-style-type: none;
    display: inline-block;
}

/*LANDING PAGE*/
.landingPage{
    width: 100%;
    text-align: center;
    margin: 25% auto;
}

/*SECTIONS*/
section{
    margin: auto;
    max-width: 800px;
}
#aboutMe ul, #projects ul{
    margin-bottom: 20px;
}
#aboutMe ul li, #projects ul li{
    list-style-type: none;
}
#aboutMe ul ul li, #projects ul ul li{
    list-style-type: circle;
    padding: 3px;
}
#projects{
    padding: 25px;
}
#projects ul li{
    display: inline-block;
    background-color: #1a2731;
    padding: 15px;
    margin: 15px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
}
#skills{
    width: 90%;
    margin: 70px auto;
    padding: 10px;
}
#skills ul li{
    background-color: #141e25;
    padding: 25px;
    margin-top: 33px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(163, 192, 255, 0.1);
    list-style-type: none;
}

/*FOOTER*/
footer{
    background-color: #1a2731;
    padding-top: 20px;
    margin-top: 35px;
}
#impressum, #data-protection{
    width: 30%;
    margin: auto;
}



.terminalWindow {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    background-color: #2b2b2b;
    color: #ffffff;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 1.5%;
    animation: float 4s ease-in-out infinite;   
}
@keyframes float {
    0%, 100% {
        box-shadow: -5px -5px 5px 2px rgba(9, 66, 173, 0.8), 5px 5px 5px 2px rgba(4, 133, 53, 0.8);
    }
    50% {
        box-shadow: -10px -10px 15px 2px rgba(1, 33, 93, 0.6), 10px 10px 15px 5px rgba(1, 107, 42, 0.6);
    }
}

.terminal-header {
    background-color: #1e1e1e;
    padding: 8px;
    display: flex;
    align-items: center;
}

.terminalButton {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
}

.close {
    background-color: #862823;
}

.minimize {
    background-color: #97701d;
}

.maximize {
    background-color: #1c7a2a;
}

.terminal-title {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}

.terminal-body {
    padding: 16px;
}

.logo img{
    width: 35%;
    float: left;
    margin: 35px;
    height: 35  0px;
}
.logoProjects img{
    max-width: 140px;
}
.color-cyan {
    color: #1a75ff;
}

.color-gray {
    color: #d8dee9;
}

.info {
    color: #d8dee9;
    margin-top: 20px;
    font-size: 15px;
    display: inline-block;
}
a{
    color: white;
    text-decoration: none;
}
.sudo{
    width: 70%;
    margin: 15px auto;
    margin-top: 55px;
}

.typing-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: #ffffff;
}
.container-typing{
    width: 80%;
    margin: 20% auto;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgba(255, 255, 255, 0.75);
    }
}

.typing-container::after {
    content: '';
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    animation: blink-caret 1.15s step-end infinite;
}