# Ignore logs
*.log

# Ignore environment variable files
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore build/production directories
dist/
build/
