/* Alcatel One Touch Idol Ultra */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Alcatel One Touch Ultra 995 */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Asus Zenfone Max ZC550KL */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }
    .nav1.show {
        margin: 0px;
        padding: 0px;
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* BlackBerry Priv */
@media screen and (max-width: 2560px) and (max-height: 1440px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC Desire */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC Desire HD */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC Evo */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC One */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC One M9 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* HTC One M8 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Huawei P8 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG Nexus 4 */
@media screen and (max-width: 384px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG Nexus 5X */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG G4 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG G3 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG V10 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG Nexus 4 AR */
@media screen and (max-width: 1280px) and (max-height: 768px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG Phoenix 2 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* LG GX F310L */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Droid */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Droid Razr */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Droid Razr Maxx */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Moto X Style */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Nexus 6 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Droid Turbo */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Moto G */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Motorola Moto E */
@media screen and (max-width: 540px) and (max-height: 960px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* OnePlus X */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* OnePlus 2 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* OnePlus One */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy Nexus */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy Note */
@media screen and (max-width: 400px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy Note II */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy S */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy S Plus */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy SII */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy SIII */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy SIV */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Nexus S */
@media screen and (max-width: 320px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung A5 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Z3 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy J7 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy Note5 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy S6 Edge+ */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy S6 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy S5 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Samsung Galaxy Note4 */
@media screen and (max-width: 1440px) and (max-height: 2560px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia Z */
@media screen and (max-width: 360px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia T2 Ultra Dual */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia C4 Dual */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia Z3 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia Z5 */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Sony Xperia M4 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Xiaomi Mi Note */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Xiaomi Mi 4i */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Infocus M812i */
@media screen and (max-width: 1080px) and (max-height: 1920px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* VIVO Y51L */
@media screen and (max-width: 960px) and (max-height: 540px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Oppo A59 */
@media screen and (max-width: 1280px) and (max-height: 720px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Oppo F1 Plus */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Oppo R9 Plus */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Oppo R9 */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        position: fixed;
        right: 35px;
        top: 15px;
        z-index: 1001;
    }

    .nav1 {
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.7s ease;
        transform: translateY(-100%);
    }

    .nav1.show {
        transform: translateY(0); /* Move into viewport when .show class is applied */
        left: 0;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    nav ul li:last-child{
        padding-bottom: 50px;
    }
}

/* Oppo A37 */
